{% load crispy_forms_tags %}

<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Detail of {{bank.name}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">      
<ul>
<li>
{%if bank.frequent%}
<p><strong>Frequent: </strong>Yes</p>
{%else%}
<p><strong>Frequent: </strong>Not</p>
{%endif%}
</li>
<li>
<p><strong>Bill: </strong>{{bank.bill.title}}</p>
</li>
</ul>

       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
</div>