{% extends 'base_menu.html'%}
{%block content%}
<div>
    <center>
    <h1>About Page of {{ settings.APP_NAME }} App</h1>
    
        <p>
            This is a Web Page where you can add your bills and start to doing follow them on detail.

            This is the first launch of this web page,so this page was create from the people's gap between what they consume( how they spent their cashs) and how much they know about their outgo.

            The people need to know about their bills and starting manage them.

            This WebPage was created by the Software Engineer <strong>Socrates P. M.</strong>
        </p>
    </center>
</div>
{%endblock%}